#cover-page {
    background-color: #CDE8E5;
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    animation: gradientAnimation 10s ease infinite;
}

.container-row-center {
    display: flex;
    justify-content: center;
}

.title-center {
    text-align: center;
}

.title-color {
    color: #7AB2B2;
}

.professional-info-justify p, .professional-info-justify ul {
    text-align: justify;
}

.computer-container, .guitar-container {
    opacity: 0.2;
}
/* --------------------------- */

.computer-container {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nelson {
    font-family: "Sacramento", cursive;
    font-size: 4rem;
    color: #4D869C;
}

.profession {
    font-size: 2rem;
    color: #4D869C;
}

span {
    text-decoration: underline;
}

.guitar-container {
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
}

.guitar-container img {
    max-width: 100%;
}

.nelson-photo {
    border-radius: 50%;
    max-width: 100%;
}

.nelson-photo-col-container {
    border-right: 1px solid #3f9d9d;
}

#get-in-touch, #footer {
    background-color: #EEF7FF;
}

.btn:hover {
    box-shadow: 0 0 15px rgb(79, 126, 228);  
}
